doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      // Add your header image here
      a(href='/')
        img(src='/images/REA_SA.jpg' alt='REA South Africa' class='header-image')
      if user
        p Welcome, #{user.Firstname}!
        a(href='/logout') Logout
      else if currentPath !== '/login'
        a(href='/login') Login

    block content