extends layout

block content
  div.login-container
  div.login-container
    div.login-box
      h1 Login
      form(action="/login" method="post")
        div.form-group
          label(for="username") Username:
          select(name="username" class="form-control" required)            
            option(value="Mike") Mike
            option(value="Matt") Matt            
            option(value="Wesley") Wesley            
            option(value="Darryn") Darryn
            option(value="Ryan") Ryan                        
            option(value="Nicholas") Nicholas
            option(value="Dillon") Dillon
            option(value="Ivan") Ivan
            option(value="Michelle") Michelle
            option(value="Ralf") Ralf
            option(value="Matthias") Matthias
            option(value="Jenna") Jenna            
            option(value="Taryn") Taryn
            option(value="Nikki") Nikki
            option(value="Dave") Dave
        div.form-group
          button(type="submit" class="btn btn-primary") Login