/* General styles */

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

header
{
  max-width: 300px;
  width: 900px;
}
/* Ensure the header image scales correctly and is centered */
.header-image {
  display: block;
  margin: 0 auto;
  max-width: 120%; /* Ensure the image does not exceed 120% of the content width */
  width: 90%; /* Ensure the image scales to fit the content width */
  height: auto; /* Maintain aspect ratio */
  margin-top:50px;
}

/* Style the content div */
.content {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #004174;
  text-align: center;
}

h2{
  color: #004174;
  text-align: center;
}


p {
  font-size: 1.2em;
  margin: 10px 0;
  text-align: center;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 1em;
  text-align: left; /* Align labels to the left */
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #004174;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #003366;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;

}

/* Responsive styles */
@media (max-width: 600px) {
  body {
    padding: 20px;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  button {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    font-size: 1em;
  }

  .modal-content {
    width: 100%;
    max-width: 90%;
  }
}

/* Container for centering the login form */
.login-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
}

/* Styling for the login box */
.login-box {
  background-color: #f9f9f9;
  max-width: 300px;
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form group for spacing between form elements */
.form-group {
  margin-bottom: 15px;
}

/* Form control for styling input fields */
.form-control {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Contact info table styles */
.contact-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.contact-info-table th, .contact-info-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.contact-info-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.contact-info-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.contact-info-table tr:hover {
  background-color: #ddd;
}

.print-tech-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .print-tech-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: white;
    color: black;
  }
  .print-tech-table td.selected {
    background-color: #336600;
    color: white;
  }
  /* Add any additional styles for the error page if needed */
.error-container {
  text-align: center;
  margin-top: 50px;
}

.error-container p {
  margin-bottom: 20px;
}

.error-container button {
  background-color: #004174;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.error-container button:hover {
  background-color: #003366;
}


.custom-dropdown {
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
